<!-- {{ syncthing_hostname.stdout }} -->

<configuration version="28">
	{% for folder in syncthing_folders %}
	<folder id="{{ folder.id }}" label="{{ folder.id }}" path="{{ folder.path }}" type="sendreceive" rescanIntervalS="{{ folder.resync_interval|default(300) }}" fsWatcherEnabled="true" fsWatcherDelayS="10" ignorePerms="false" autoNormalize="true">
		<filesystemType>basic</filesystemType>
		{% for device in syncthing_devices %}
		<device id="{{ device.id }}" introducedBy=""></device>
		{% endfor %}
		<minDiskFree unit="%">1</minDiskFree>
		<versioning></versioning>
		<copiers>0</copiers>
		<pullerMaxPendingKiB>0</pullerMaxPendingKiB>
		<hashers>0</hashers>
		<order>random</order>
		<ignoreDelete>false</ignoreDelete>
		<scanProgressIntervalS>0</scanProgressIntervalS>
		<pullerPauseS>0</pullerPauseS>
		<maxConflicts>-1</maxConflicts>
		<disableSparseFiles>false</disableSparseFiles>
		<disableTempIndexes>false</disableTempIndexes>
		<paused>false</paused>
		<weakHashThresholdPct>25</weakHashThresholdPct>
		<markerName>.stfolder</markerName>
		<useLargeBlocks>false</useLargeBlocks>
	</folder>
	{% endfor %}
	{% for device in syncthing_devices %}
	<device id="{{ device.id }}" name="{{ device.name }}" compression="metadata" introducer="false" skipIntroductionRemovals="false" introducedBy="">
		{% if device.name == syncthing_hostname.stdout|trim %}
		<address>dynamic</address>
		{% else %}
		<address>{{ device.address }}</address>
		{% endif %}

		<paused>false</paused>
		<autoAcceptFolders>false</autoAcceptFolders>
		<maxSendKbps>0</maxSendKbps>
		<maxRecvKbps>0</maxRecvKbps>
		<maxRequestKiB>0</maxRequestKiB>
	</device>
	{% endfor %}
	<gui enabled="true" tls="false" debugging="false">
		<address>127.0.0.1:8384</address>
		<apikey>{{ syncthing_api_key }}</apikey>
		<theme>default</theme>
	</gui>
	<ldap></ldap>
	<options>
		<listenAddress>default</listenAddress>
		<globalAnnounceServer>default</globalAnnounceServer>
		<globalAnnounceEnabled>false</globalAnnounceEnabled>
		<localAnnounceEnabled>false</localAnnounceEnabled>
		<localAnnouncePort>21027</localAnnouncePort>
		<localAnnounceMCAddr>[ff12::8384]:21027</localAnnounceMCAddr>
		<maxSendKbps>0</maxSendKbps>
		<maxRecvKbps>0</maxRecvKbps>
		<reconnectionIntervalS>60</reconnectionIntervalS>
		<relaysEnabled>false</relaysEnabled>
		<relayReconnectIntervalM>10</relayReconnectIntervalM>
		<startBrowser>false</startBrowser>
		<natEnabled>false</natEnabled>
		<natLeaseMinutes>60</natLeaseMinutes>
		<natRenewalMinutes>30</natRenewalMinutes>
		<natTimeoutSeconds>10</natTimeoutSeconds>
		<urAccepted>-1</urAccepted>
		<urSeen>0</urSeen>
		<urUniqueID>Ak3cToJt</urUniqueID>
		<urURL>https://data.syncthing.net/newdata</urURL>
		<urPostInsecurely>false</urPostInsecurely>
		<urInitialDelayS>1800</urInitialDelayS>
		<restartOnWakeup>true</restartOnWakeup>
		<autoUpgradeIntervalH>0</autoUpgradeIntervalH>
		<upgradeToPreReleases>false</upgradeToPreReleases>
		<keepTemporariesH>24</keepTemporariesH>
		<cacheIgnoredFiles>false</cacheIgnoredFiles>
		<progressUpdateIntervalS>5</progressUpdateIntervalS>
		<limitBandwidthInLan>false</limitBandwidthInLan>
		<minHomeDiskFree unit="%">1</minHomeDiskFree>
		<releasesURL>https://upgrades.syncthing.net/meta.json</releasesURL>
		<overwriteRemoteDeviceNamesOnConnect>false</overwriteRemoteDeviceNamesOnConnect>
		<tempIndexMinBlocks>10</tempIndexMinBlocks>
		<trafficClass>0</trafficClass>
		<defaultFolderPath>~</defaultFolderPath>
		<setLowPriority>true</setLowPriority>
		<maxConcurrentScans>0</maxConcurrentScans>
		<minHomeDiskFreePct>0</minHomeDiskFreePct>
	</options>
</configuration>
